body {
	font-size: 16px;
	color: #1F4E79;
	font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
#header-nav {
	background-color: #E4EEF8;
	border-radius: 0; /*supprime l'angle arrondi du header*/
	border: 0;
}

#logo-img {
	background: url("../images/videotheque_medium.png") no-repeat;
	width: 120px;
	height: 90px;
	margin: 5px 5px 5px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /*restaurant name*/
	font-family: 'Oxygen', serif;
	color: #1F4E79;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(212,212,212);
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #1F4E79;
	text-align: center;
}

#nav-list a:hover {
	background: #1F4E79;
	color: #FFFFFF;
}

#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #1F4E79;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
/*END OF HEADER*/


/*FOOTER*/
.panel-footer {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E4EEF8;
	color: #1F4E79;
	border-top: 0;
}

.panel-footer div.row {
	margin-bottom: 35px;
}
/*END OF FOOTER*/

/*HOME PAGE*/
#mieux-notes, #a-regarder {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	border-radius: 6px;
}

#mieux-notes span, #a-regarder span {
  	position: absolute;
  	top: 0;
  	right: 0;
  	padding-left: 10px;
  	width: 100%;
  	text-align: left;
  	font-size: 1.2em;
  	text-transform: uppercase;
  	background-color: #000;
  	color: #fff;
  	opacity: .7;
}
/*END OF HOMEPAGE*/


/*RECHERCHER*/
.ChBRechercher {
	margin-top: 20px;
}

.ChBRechercher span {
	color: #1F4E79;
	/*@font-family-base;*/
}

.listbox-container {
	margin-top: 20px;
	font-size: 14px;
}

.btn-rechercher-container {
	margin-top: 15px;
}
/*END OF RECHERCHER */



/*AFFICHAGE.HTML*/
#titre-film {
	color: #1F4E79;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.affiche-container {
	float: left;
	/*padding-right: 20px;*/
}

.affiche-contenu {
	height: 250px;
}

.contenu-container {
	margin-bottom: 10px;
}

.titre-contenu {
	color: #778899;
}

.contenu-contenu {
	color: #1F4E79;
}

.titre-contenu, .contenu-contenu {
	font-size: 1em;
}

.rating-titres-container {
	margin-top: 30px;
	color: #1F4E79;
	font-weight: bold;
	font-size: 1em;
}

#synopsis-film {
	margin-top: 25px;
}
/*FIN DE AFFICHAGE.HTML*/




/*large devices only*/
@media (min-width: 1200px) {
	/*header*/

	.navbar-brand h1 { /*restaurant name*/
		margin-top: 10px;
		margin-left: 10px;
	}

	.desktop-only {
		display: block !important;
	}

	.smartphone-only {
		display: none !important;
	}
	/*end header*/

	.ChBRechercher {
		margin-top: 20px;
	}

	.btn-recherche-container {
		margin-top: 15px;
	}
}

/*medium devices only*/
@media (min-width: 992px) and (max-width: 1199px) {
	/*header*/
	.navbar-brand h1 { /*restaurant name*/
		margin-top: 10px;
		margin-left: 10px;
	}

	.desktop-only {
		display: block !important;
	}

	.smartphone-only {
		display: none !important;
	}

	.ChBRechercher {
		margin-top: 20px;
	}

	.btn-recherche-container {
		margin-top: 15px;
	}
}

/*Small devices only*/
@media (min-width: 768px) and (max-width: 991px) {
	/*header*/
	.navbar-brand h1 { /*restaurant name*/
		margin-top: 10px;
	}

	.desktop-only {
		display: none !important;
	}

	.smartphone-only {
		display: block !important;
	}
	/*end header*/


	.ChBRechercher {
		margin-top: 20px;
	}

	.btn-recherche-container {
		margin-top: 15px;
	}

	.affiche-contenu {
		height: 180px;
	}

	.contenu-container {
		margin-bottom: 5px;
	}

	.titre-contenu, .contenu-contenu, .rating-titres-container {
		font-size: 0.9em;
	}

	#synopsis-film {
		margin-top: 20px;
	}
}

/*Extra small devices only*/
@media (min-width: 481px) and (max-width: 767px) {
	/*header*/
	.navbar-brand {
		padding-top: 10px;
		height: 45px;
	}

	.navbar-brand h1 {
		padding-top: 8px; /*1vw = 1% of viewport width*/
		font-size: 1.2em;
	}

	.navbar-brand p {
		font-size: 0.6em;
		margin-top: 12px;
	}

	.navbar-brand p img {
		height: 20px;
	}

	#collapsable-nav a { /*collapsed nav menu glyphicon*/
		font-size: 1.2em;
	}

	#collapsable-nav a span { /*garde la taille du glyphicon*/
		font-size: 1em;
		margin-right: 5px;
	}

	.desktop-only {
		display: none !important;
	}

	.smartphone-only {
		display: block !important;
	}
	/*end header*/

	/*footer*/
	.panel-footer {
		font-size: 2vw;
	}
	/*end of footer*/

	.btn-rechercher-container {
		margin-top: 20px;
	}

	.affiche-contenu {
		height: 150px;
	}

	.contenu-container {
		margin-bottom: 3px;
	}

	.titre-contenu, .contenu-contenu, .rating-titres-container {
		font-size: 0.8em;
	}

	#synopsis-film {
		margin-top: 15px;
	}
}

/*Extra extra small devices only*/
@media (max-width: 480px) {
	/*header*/
	.navbar-brand {
		padding-top: 10px;
		height: 45px;
	}

	.navbar-brand h1 {
		padding-top: 8px; /*1vw = 1% of viewport width*/
		font-size: 1.2em;
	}

	.navbar-brand p {
		font-size: 0.6em;
		margin-top: 12px;
	}

	.navbar-brand p img {
		height: 20px;
	}

	#collapsable-nav a { /*collapsed nav menu glyphicon*/
		font-size: 1.2em;
	}

	#collapsable-nav a span { /*garde la taille du glyphicon*/
		font-size: 1em;
		margin-right: 5px;
	}

	.desktop-only {
		display: none !important;
	}

	.smartphone-only {
		display: block !important;
	}
	/*end header*/

	/*footer*/
	.panel-footer {
		font-size: 2vw;
	}
	/*end of footer*/

	.ChBRechercher {
		margin-top: 20px;
	}

	.btn-recherche-container {
		margin-top: 15px;
	}

	.affiche-contenu {
		height: 150px;
	}

	.contenu-container {
		margin-bottom: 3px;
	}

	.titre-contenu, .contenu-contenu, .rating-titres-container {
		font-size: 0.8em;
	}

	#synopsis-film {
		margin-top: 15px;
	}
}